@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Caslon';
  src: url('/ITC-Caslon.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #efefef;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
