@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITCCaslon224StdMedium';
  src: url('/fonts/ITCCaslon224StdMedium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'AvenirNextLTPro', sans-serif;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .heading {
    font-family: 'ITCCaslon224StdMedium', serif;
  }
}
